.sidebar .nav-sidebar li {
	margin-left: -20px;
	margin-right: -20px;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.weather-status {
  position: absolute;
  font-size: 48px;
  right: 0;
  top: 0px;
  color: #eee;
  z-index: -1;
}

.weather-status.large {
	color: #999;
	font-size: 62px;
	right: 20px;
}

.day-average .temperature {
	font-size: 32px;
}

.temperature {
	font-size: 18px;
}

#app-info {
	position: fixed;
	right: 10px;
	top: 10px;
}